<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>

<div id="wrapper">

    <nav th:replace="admin/layout :: sidebar"></nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header">Quản lý tin tức</h3>
            </div>
            <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Form tin tức
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form action="#" th:action="@{/admin/news/save}" th:object="${news}" method="post">
                            <input type="hidden" th:field="*{news_id}" />
                            <input type="hidden" th:field="*{image}">
                            <div class="form-group">
                                <label>Tên tin tức <span class="required">*</span></label>
                                <input type="text" class="form-control" th:field="*{title}" th:errorclass="field-error" />
                                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>
                                <label for="comment">Nội dung</label>
                                <textarea class="form-control" rows="5" id="comment" th:field="*{content}"></textarea>
                                <input type="hidden" th:field="*{created_date}">
                                <input type="hidden" th:field="*{updated_date}">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu</button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>

</body>
</html>