<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>

<div id="wrapper">

	<nav th:replace="admin/layout :: sidebar"></nav>

	<div id="page-wrapper">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-header">Quản lý  chi tiết sản phẩm</h3>
			</div>
			<!-- /.col-sm-12 -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-sm-12">
				<!--<div th:if="${success}" class="row alert alert-success alert-dismissible">-->
				<!--<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>-->
				<!--<span th:text="${success}"></span>-->
				<!--</div>-->

				<div class="panel panel-primary">
					<div class="panel-heading">
						Danh sách sản phẩm
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<h4 th:if="${#lists.isEmpty(listproductdetail)}">Chưa có sản phẩm nào</h4>
						<table th:unless="${#lists.isEmpty(listproductdetail)}" width="100%" class="table table-striped table-bordered"
							   id="dataTables-example">
							<thead>
									<tr>
										<th width="10%">Mã</th>
										<th width="20%">Tên sản  phẩm</th>
										<th width="10%">Kích cỡ</th>
										<th width="10%">Màu </th>
										<th width="10%">Số lượng</th>
										<th width="20%">Ảnh</th>
										<th width="20%">Tùy chọn</th>
									</tr>
							</thead>
							<tbody>
							<tr th:each="productdetail : ${listproductdetail}">
								<td><span th:text="${productdetail.getProduct().getProduct_id()}"></span></td>
								<td><span th:text="${productdetail.getProduct()}"></span></td>
								<td><span th:text="${productdetail.getSizeDetail()}"></span></td>
								<td><span th:text="${productdetail.getColorDetail()}"></span></td>
								<td><span th:text="${productdetail.getQuantity()}"></span></td>
								<td><img th:src="${productdetail.getImage()}"  width="100px" height="100px"></td>
								<td>
									<div class="dropdown">
										<button class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
											Tùy chọn
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<li>
												<button class="btn btn-default btn-edit-product-detail" th:attr="data-productdetail=${productdetail.getProductdetail_id()}">
													<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
												</button>
											</li>
											<li>
												<button class="btn btn-default btn-delete-product-detail" th:attr="data-productdetail=${productdetail.getProductdetail_id()}">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</button>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
						<!-- /.table-responsive -->
						<div id="modal-create-product-detail" class="modal fade" role="dialog">
							<div class="modal-dialog modal-lg">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Form Chi tiết sản phẩm</h4>
									</div>
									<div class="modal-body">
										<div class="img-select-block margin-bottom-15">
											<label>Product image</label><br/>
											<img id="preview-product-detail-img" th:src="@{/img/default.png}" />
											<input type='file' id="input-select-img-product-detail" />
										</div>
										<div class="form-group margin-bottom-15">
											<label for="product-category">Kích cỡ:</label>
											<select class="form-control" id="productdetail-size">
												<option th:each="size : ${sizes}"
														th:value="${size.getSize()}"
														th:text="${size.getName()}"></option>
											</select>
										</div>


										<div class="form-group margin-bottom-15">
											<label for="product-category">Màu:</label>
											<select class="form-control" id="productdetail-color">
												<option th:each="color : ${colors}"
														th:value="${color.getColor()}"
														th:text="${color.getName()}"></option>
											</select>
										</div>
										<div class="form-group margin-bottom-15">
											<label>Số lượng:</label>
											<input type="text" class="form-control" id="input-productdetail-quantity">
										</div>

										<button class="btn btn-default btn-save-productdetail">Save product</button>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-sm-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

</div>

<script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

<script type="text/javascript" th:src="@{/js/admin/productdetail_edit.js}"></script>
</body>
</html>