<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>

<div id="wrapper">

    <nav th:replace="admin/layout :: sidebar"></nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-header">Quản lý sản phẩm</h3>
            </div>
            <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->

        <!--/*@thymesVar id="productId" type=""*/-->
        <div class="row" id="modal-create-product">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Form sản phẩm
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" >
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Product info</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="img-select-block margin-bottom-15">
                                            <label>Product image</label><br/>
                                            <img id="preview-product-img" th:src="@{/img/default.png}"/>
                                            <input type='file' id="input-select-img-product"/>
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label>Product name:</label>
                                            <input type="text" class="form-control" id="input-product-name">
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label for="product-category">Category:</label>
                                            <select class="form-control" id="product-category">
                                                <option th:each="category : ${categories}"
                                                        th:value="${category.getCategory_id()}"
                                                            th:text="${category.getName()}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group margin-bottom-15">
                                            <label>Product description:</label>
                                            <textarea type="text" class="form-control"
                                                      id="input-product-desc"></textarea>
                                        </div>
                                        <div class="form-group margin-bottom-15">
                                            <label>Product price:</label>
                                            <input type="text" class="form-control" id="input-product-price">
                                        </div>

                                        <div class="form-group">
                                            <label>Product created date:</label>
                                            <div class='input-group date' id='datepicker-created-date-product'>
                                                <input type='text' class="form-control"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" style="display: none;" id="form-update-date">
                                            <label>Product update date:</label>
                                            <div class='input-group date' id='datepicker-updated-date-product'>
                                                <input type='text' class="form-control"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        </div>
                                        <button class="btn btn-default btn-save-product" style="margin: 10px;">Save product</button>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
</body>
</html>